<div class="qa-direct-message">
  <div class="qa-direct-message-sidebar">
    <span class="qa-direct-message-avatar">
      <img src="<%= dm.sender.profile_image_url %>"/>
    </span>
  </div>
  <div class="qa-direct-message-header">
    <span class="qa-direct-message-name"><%= dm.sender.name %></span>
    <span class="qa-direct-message-screen-name">@<%= dm.sender.screen_name %></span>
    <span class="qa-direct-message-date"><%= dm.created_at %></span>
  </div>
  <div class="qa-direct-message-body">
    <span class="qa-direct-message-message"><%= dm.text %></span>
  </div>
  <div class="qa-direct-message-footer">
    <span class="qa-direct-message-reply"></span>
    <span class="qa-direct-message-redirect-message"></span>
    <span class="qa-direct-message-favorite"></span>
  </div>
</div>
